# Ambiente Virtual (Windows/VS Code)
venv/
.venv/
ENV/
Envs/

# Ficheiros temporários e cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Configurações locais do VS Code
.vscode/

# Ficheiros de sistema (Windows)
Thumbs.db
ehthumbs.db
Desktop.ini